body {
  background: linear-gradient(-45deg, #e73c7e, #a94fff, #23a6d5, #4f53ff);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ball {
  z-index: -1;
  position: fixed;
  border-radius: 100%;
  opacity: 0.9;
  filter: blur(0.7px);
}
