/* VAR */
:root {
  --w-g: 400;
  --w-general: 400px;
  --h-g: 450px;
  --h-general: 450px;
  --aspectRatio-general: calc(var(--h-g) / var(--v-g));

  --JSCard-width: calc(100% / 3);
  --gap: 20px;

  --transition-general: all 0.5s ease-out;
}
* {
  transition: var(--transition-general);
}
*:hover {
  transition: var(--transition-general);
}

/* CODE */
#JSCard {
  padding: 32px;
}

#JSCard-elements {
  display: flex;
  gap: var(--gap);
  flex-direction: row;
  flex-wrap: wrap;
}
/* .JSCard-elements:hover > :not(:hover) {
  opacity: 0.8;
  transform: scale(0.8);
  filter: blur(1px);
} */

.JSCard_content {
  /*  border: var(--b-m); */
  /* width: max-content; */
  width: calc(var(--JSCard-width) - var(--gap));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--comp-gap);
  position: relative;
  overflow: hidden;
}
.JSCard_content,
.JSCard_content-image,
.JSCard_content-image img {
  aspect-ratio: var(--aspectRatio-general);
}
.JSCard_content-image {
  overflow: hidden;
  border-radius: 0 0 1000px 1000px;
  position: relative;
}
.JSCard_content-image img {
  width: 100%;
  height: auto;
  z-index: 3;
  position: relative;
}
.JSCard_content-image::before,
.JSCard_content-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 10000px;
  aspect-ratio: 1;
}
.JSCard_content-image::before {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.JSCard_content-image.JSCard_content-image::after {
  border: 3px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 0.4);
  z-index: 2;
}
.JSCard_content-info,
.JSCard_content-info-inner {
  border-radius: 10px;
}
.JSCard_content-info {
  width: 100%;
  aspect-ratio: 1;
  padding: 5%;
  position: absolute;
  bottom: -300px;
  left: 0;
  z-index: 4;
  transition: var(--transition-general);
}
.JSCard_content:hover .JSCard_content-info {
  transition: var(--transition-general);
  bottom: 10px;
  left: 0;
}
.JSCard_content-info-inner {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.JSCard_content-button {
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: center;
  z-index: 5;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.JSCard_content-button .btn {
  width: fit-content;
  align-items: center;
}
.JSCard_content-button-invited {
}

.JSCard_content-invited {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  margin: auto;
  padding: 20px;
  opacity: 0;
  top: 0px;
  left: 0;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.JSCard_content.cardHidden {
  pointer-events: none;
}
.JSCard_content.cardHidden .JSCard_content-button,
.JSCard_content.cardHidden .JSCard_content-info {
  display: none;
}
.JSCard_content.cardHidden .JSCard_content-image {
  filter: blur(7px);
  transform: scale(0.9);
}

.JSCard_content.cardHidden .JSCard_content-invited {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  border-radius: 16px;
}
.JSCard_content-invited-image,
.JSCard_content-invited-image-circle {
}
.JSCard_content-invited-image {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1000px 1000px;
}

.JSCard_content-invited-image-circle {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  border-radius: 1000px;
  --s: 65px;
  width: var(--s);
  height: var(--s);
}
.JSCard_content-invited-image img {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.JSCard_content-invited button {
  pointer-events: all;
}
