/* VAR */
:root {
  --w-g: 400;
  --w-general: 400px;
  --h-g: 450px;
  --h-general: 450px;
  --aspectRatio-general: calc(var(--h-g) / var(--v-g));

  --JSCard-width: calc(100% / 2);
}

/* CODE */
#JScard {
}

#JScard-elements {
}

.JScard {
  border: var(--b-m);
  /* width: max-content; */
  width: var(--JSCard-width);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--comp-gap);
}
.JScard,
.JScard .JSCard-image,
.JScard .JSCard-image img {
  aspect-ratio: var(--aspectRatio-general);
}
.JScard .JSCard-image {
  overflow: hidden;
  border-radius: 0 0 1000px 1000px;
  position: relative;
}
.JScard .JSCard-image img {
  width: 100%;
  height: auto;
  z-index: 3;
  position: relative;
}
.JScard .JSCard-image::before,
.JScard .JSCard-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 10000px;
  aspect-ratio: 1;
}
.JScard .JSCard-image::before {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.JScard .JSCard-image.JSCard-image::after {
  border: 3px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 0.4);
  z-index: 2;
}
